        /* --------------------------------------*/
        .checkbox-wrapper-12 {
  position: relative;
  width: 15%;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 40px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 12px;
  height: 22px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
 
  position: absolute;
  top: 0;
  left: 4;
  width: 18px;
  height: 18px;
  border: 2px solid #f280ff6c;
  border-radius: 20%;
}


.checkbox-wrapper-12 .cbx label {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 4;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 3px;
  left: 4;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: #f280ff6c;
    box-shadow: 0 -18px 0 -8px #f280ff6c, 16px -8px 0 -8px #f280ff6c, 16px 8px 0 -8px #f280ff6c, 0 18px 0 -8px #f280ff6c, -16px 8px 0 -8px #f280ff6c, -16px -8px 0 -8px #f280ff6c;
  }

  100% {
    background: #f280ff6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: #f280ff6c;
    box-shadow: 0 -18px 0 -8px #f280ff6c, 16px -8px 0 -8px #f280ff6c, 16px 8px 0 -8px #f280ff6c, 0 18px 0 -8px #f280ff6c, -16px 8px 0 -8px #f280ff6c, -16px -8px 0 -8px #f280ff6c;
  }

  100% {
    background: #f280ff6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: #f280ff6c;
    box-shadow: 0 -18px 0 -8px #f280ff6c, 16px -8px 0 -8px #f280ff6c, 16px 8px 0 -8px #f280ff6c, 0 18px 0 -8px #f280ff6c, -16px 8px 0 -8px #f280ff6c, -16px -8px 0 -8px #f280ff6c;
  }

  100% {
    background: #f280ff6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #f280ff6c;
    box-shadow: 0 -18px 0 -8px #f280ff6c, 16px -8px 0 -8px #f280ff6c, 16px 8px 0 -8px #f280ff6c, 0 18px 0 -8px #f280ff6c, -16px 8px 0 -8px #f280ff6c, -16px -8px 0 -8px #f280ff6c;
  }

  100% {
    background: #f280ff6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
        /* --------------------------------------*/

        /* --------------------------------------*/
        .checkbox-wrapper-13 {
  position: relative;
  width: 15%;
}

.checkbox-wrapper-13 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 40px;
  pointer-events: none;
}

.checkbox-wrapper-13 * {
  box-sizing: border-box;
}

.checkbox-wrapper-13 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-13 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-13 .cbx2 {
  width: 12px;
  height: 22px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-13 .cbx2 input {
 
  position: absolute;
  top: 0;
  left: 4;
  width: 18px;
  height: 18px;
  border: 2px solid #00ff9d6c;
  border-radius: 20%;
}


.checkbox-wrapper-13 .cbx2 label {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 4;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-13 .cbx2 svg {
  position: absolute;
  top: 3px;
  left: 4;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-13 .cbx2 svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-13 .cbx2 input:checked + label {
  animation: splash-13 0.6s ease forwards;
}

.checkbox-wrapper-13 .cbx2 input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-13 {
  40% {
    background: #00ff9d6c;
    box-shadow: 0 -18px 0 -8px #00ff9d6c, 16px -8px 0 -8px #00ff9d6c, 16px 8px 0 -8px #00ff9d6c, 0 18px 0 -8px #00ff9d6c, -16px 8px 0 -8px #00ff9d6c, -16px -8px 0 -8px #00ff9d6c;
  }

  100% {
    background: #00ff9d6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-13 {
  40% {
    background: #00ff9d6c;
    box-shadow: 0 -18px 0 -8px #00ff9d6c, 16px -8px 0 -8px #00ff9d6c, 16px 8px 0 -8px #00ff9d6c, 0 18px 0 -8px #00ff9d6c, -16px 8px 0 -8px #00ff9d6c, -16px -8px 0 -8px #00ff9d6c;
  }

  100% {
    background: #00ff9d6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-13 {
  40% {
    background: #00ff9d6c;
    box-shadow: 0 -18px 0 -8px #00ff9d6c, 16px -8px 0 -8px #00ff9d6c, 16px 8px 0 -8px #00ff9d6c, 0 18px 0 -8px #00ff9d6c, -16px 8px 0 -8px #00ff9d6c, -16px -8px 0 -8px #00ff9d6c;
  }

  100% {
    background: #00ff9d6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-13 {
  40% {
    background: #00ff9d6c;
    box-shadow: 0 -18px 0 -8px #00ff9d6c, 16px -8px 0 -8px #00ff9d6c, 16px 8px 0 -8px #00ff9d6c, 0 18px 0 -8px #00ff9d6c, -16px 8px 0 -8px #00ff9d6c, -16px -8px 0 -8px #00ff9d6c;
  }

  100% {
    background: #00ff9d6c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
        /* --------------------------------------*/

        .checkbox-wrapper-14 {
  position: relative;
  width: 15%;
}

.checkbox-wrapper-14 > svg {
  position: absolute;
  top: -140%;
  left: -170%;
  width: 40px;
  pointer-events: none;
}

.checkbox-wrapper-14 * {
  box-sizing: border-box;
}

.checkbox-wrapper-14 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-14 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-14 .cbx3 {
  width: 12px;
  height: 22px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-14 .cbx3 input {
 
  position: absolute;
  top: 0;
  left: 4;
  width: 18px;
  height: 18px;
  border: 2px solid #ffea006c;
  border-radius: 20%;
}


.checkbox-wrapper-14 .cbx3 label {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 4;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-14 .cbx3 svg {
  position: absolute;
  top: 3px;
  left: 4;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-14 .cbx3 svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-14 .cbx3 input:checked + label {
  animation: splash-14 0.6s ease forwards;
}

.checkbox-wrapper-14 .cbx3 input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-14 {
  40% {
    background: #ffea006c;
    box-shadow: 0 -18px 0 -8px #ffea006c, 16px -8px 0 -8px #ffea006c, 16px 8px 0 -8px #ffea006c, 0 18px 0 -8px #ffea006c, -16px 8px 0 -8px #ffea006c, -16px -8px 0 -8px #ffea006c;
  }

  100% {
    background: #ffea006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-14 {
  40% {
    background: #ffea006c;
    box-shadow: 0 -18px 0 -8px #ffea006c, 16px -8px 0 -8px #ffea006c, 16px 8px 0 -8px #ffea006c, 0 18px 0 -8px #ffea006c, -16px 8px 0 -8px #ffea006c, -16px -8px 0 -8px #ffea006c;
  }

  100% {
    background: #ffea006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-14 {
  40% {
    background: #ffea006c;
    box-shadow: 0 -18px 0 -8px #ffea006c, 16px -8px 0 -8px #ffea006c, 16px 8px 0 -8px #ffea006c, 0 18px 0 -8px #ffea006c, -16px 8px 0 -8px #ffea006c, -16px -8px 0 -8px #ffea006c;
  }

  100% {
    background: #ffea006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-14 {
  40% {
    background: #ffea006c;
    box-shadow: 0 -18px 0 -8px #ffea006c, 16px -8px 0 -8px #ffea006c, 16px 8px 0 -8px #ffea006c, 0 18px 0 -8px #ffea006c, -16px 8px 0 -8px #ffea006c, -16px -8px 0 -8px #ffea006c;
  }

  100% {
    background: #ffea006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
        /* --------------------------------------*/

        .checkbox-wrapper-15 {
  position: relative;
  width: 15%;
}

.checkbox-wrapper-15 > svg {
  position: absolute;
  top: -150%;
  left: -170%;
  width: 40px;
  pointer-events: none;
}

.checkbox-wrapper-15 * {
  box-sizing: border-box;
}

.checkbox-wrapper-15 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-15 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-15 .cbx4 {
  width: 12px;
  height: 22px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-15 .cbx4 input {
 
  position: absolute;
  top: 0;
  left: 4;
  width: 18px;
  height: 18px;
  border: 2px solid #ff77006c;
  border-radius: 20%;
}


.checkbox-wrapper-15 .cbx4 label {
  width: 18px;
  height: 18px;
  background: none;
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 4;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-15 .cbx4 svg {
  position: absolute;
  top: 3px;
  left: 4;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-15 .cbx4 svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-15 .cbx4 input:checked + label {
  animation: splash-15 0.6s ease forwards;
}

.checkbox-wrapper-15 .cbx4 input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-15 {
  40% {
    background: #ff77006c;
    box-shadow: 0 -18px 0 -8px #ff77006c, 16px -8px 0 -8px #ff77006c, 16px 8px 0 -8px #ff77006c, 0 18px 0 -8px #ff77006c, -16px 8px 0 -8px #ff77006c, -16px -8px 0 -8px #ff77006c;
  }

  100% {
    background: #ff77006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-15 {
  40% {
    background: #ff77006c;
    box-shadow: 0 -18px 0 -8px #ff77006c, 16px -8px 0 -8px #ff77006c, 16px 8px 0 -8px #ff77006c, 0 18px 0 -8px #ff77006c, -16px 8px 0 -8px #ff77006c, -16px -8px 0 -8px #ff77006c;
  }

  100% {
    background: #ff77006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-15 {
  40% {
    background: #ff77006c;
    box-shadow: 0 -18px 0 -8px #ff77006c, 16px -8px 0 -8px #ff77006c, 16px 8px 0 -8px #ff77006c, 0 18px 0 -8px #ff77006c, -16px 8px 0 -8px #ff77006c, -16px -8px 0 -8px #ff77006c;
  }

  100% {
    background: #ff77006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-15 {
  40% {
    background: #ff77006c;
    box-shadow: 0 -18px 0 -8px #ff77006c, 16px -8px 0 -8px #ff77006c, 16px 8px 0 -8px #ff77006c, 0 18px 0 -8px #ff77006c, -16px 8px 0 -8px #ff77006c, -16px -8px 0 -8px #ff77006c;
  }

  100% {
    background: #ff77006c;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
        /* --------------------------------------*/

